@use "../base/variables" as v;

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
    font-family: v.$font-stack;
    background-color: v.$color-bg-light;
    color: v.$color-text;
    margin: 0;
    padding: 0;

  overflow-x: hidden;
}

h1,
h2,
h3 {
  margin: 0 0 2rem 0;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.6rem;
}

p {
  font-size: 1.6rem;
}

.container {
  padding: 3rem 1rem;
}