@use "../base/variables" as v;

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: v.$font-stack;
  background-color: v.$color-bg-light;
  color: v.$color-text;
  margin: 0;
  padding: 0;

  overflow-x: hidden;
  transition: all 0.3s ease-in-out;
}

body.dark-mode {
  background-color: #121212;

  .orders-table {
    background-color: #1e1e1e;
  }

  .btn-nuevo,
  .btn-delete,
  .btn-edit {
    background-color: #333;
    color: #fff;
  }

  h1,
  h2,
  h3, 
  .home p {
    color: #fff;
  }

  .form-container h2 {
    color: #333;
  }
}

h1,
h2,
h3 {
  margin: 0 0 2rem 0;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.6rem;
}

p {
  font-size: 1.6rem;
}

.container {
  padding: 3rem 1rem;
}

@media (max-width: 600px) {
  .container {
    padding: 3rem;
  }
}
